/*
 * Profile list grid styles
 *
 * Styles for grid-style listings of student/alumni profiles. To apply, add the
 * class "views-responsive-grid-profiles" to the grid classes field under
 * settings for the responsive grid display format.
 */

.views-responsive-grid-profiles h3 {
  margin: 0px;
}

.views-responsive-grid-profiles .profile-program {
  margin-bottom: 10px;
  font-style: italic;
}

.views-responsive-grid-profiles img {
  float: left;
}

.views-responsive-grid-profiles .more-link{
  font-size: 80%;
  text-align: left;
}

.views-responsive-grid-profiles .profile-name,
.views-responsive-grid-profiles .profile-program,
.views-responsive-grid-profiles .profile-body,
.views-responsive-grid-profiles .more-link {
  margin-left: 155px;
}

.views-responsive-grid-profiles .views-column {
  clear: both;
}

/*
 * Profile page styles
 *
 * Styles for student/alumni profile pages. Applied automatically when the
 * profile pages are in WWU's clean 25/75 panel layout.
 */

.node-profile .field-photo {
  float: right;
}

.node-profile .field-pull-quote {
  font-size: 1.2em;
  line-height: 1.5em;
  text-indent: 23px;
  font-style: italic;
}
